* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:root {
  --website-color: white;
  --website-bg: hsl(160, 45%, 18%);
  --nav-border-color: hsla(160, 91%, 39%, 0.813);
  --nav-bg: hsla(155, 62%, 11%, 0.813);
  --article-bg: aliceblue;
  --article-color: #444;
  --aside-color: hsla(160, 83%, 23%, 0.813);
  --aside-bg: hsla(136, 33%, 94%, 0.813);
  --link-color: rgb(44, 138, 201);
  /* --section-header-bg: rgb(98, 29, 235); */  
  /* --section-bg: rgb(15, 112,  197); */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--article-bg);
}

body > header {
  padding: 3em 5em;
  /* position: sticky;
  top: -1px; */
  display: flex;
  justify-content: space-between;
  background-image: url("image.png");
  background-size: cover;
  background-position: bottom;
}

hgroup {
  text-align: left;
  margin-left: 4%;
  color: var(--website-color);
}

hgroup > h1 {
  font-size: 59px;
  font-weight: 500;
  letter-spacing: 1px;
  padding-bottom: 0.2em;
}

hgroup > h3 {
  font-size: 30px;
  letter-spacing: 3px;
  padding-bottom: 0.3em;
  padding-left: 0.2em;
  font-weight: 300;
}

nav {
  display: flex;
  flex-direction: row;
  width: 38%;
  align-items: end;
  margin-right: 3%;
}

header > nav > ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

header > nav > ul > li {
  cursor: pointer;
  letter-spacing: 0.5px;
  font-weight: 200;
  padding-block: 5px;
  padding-inline: 10px;
  border-bottom: 4px solid transparent;
  border-radius: 2px;
}

header > nav > ul > li:hover {
  background: linear-gradient(0deg, var(--nav-bg), transparent);
  border-bottom: 4px solid var(--nav-border-color);
}

header > nav > ul > li > a {
  font-size: 28px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  color: var(--website-color);
}

ul {
  list-style: none;
}

main {
  width: 85%;
  display: flex;
  flex-direction: row;
  background-color: var(--article-bg);
  margin: 0 auto;
}

main > article {
  color: var(--article-color);
  width: 75%;
  padding-top: 2em;
  padding-bottom: 5em;
  padding-inline: 1em;
}

main > article > header {
  background-color: var(--section-header-bg);
  padding-bottom: 0.8em;
  border-bottom: 3px solid var(--aside-bg);
}

main > article > header > h2 {
  font-size: 40px;
  padding-bottom: 0.1em;
  font-weight: 500;
}

main > article > header > h5 {
  font-size: 18px;
  font-weight: 500;
}

main > article > section {
  font-size: 20px;
  margin-block: 0.5em;
  line-height: 1.3em;
  background-color: var(--section-bg);
}

main > article > section > h3 {
  font-size: 25px;
  margin-top: 1.3em;
  margin-bottom: 0.6em;
  font-weight: 500;
}

main > article > section > figure {
  width: 100%;
  font-size: 20px;
  margin-block: 1.3em;
}

main > article > section > figure > img {
  width: 100%;
  font-size: 20px;
}

main > article > section > figure > figcaption {
  font-size: 18px;
  font-style: italic;
}

main > article > section > mark {
  color: var(--article-color);
  background-color: hsla(137, 69%, 72%, 0.813);
}

main > article > footer {
  margin-top: 2em;
  border-top: 3px solid var(--aside-bg);
}

main > article > footer > h3 {
  font-size: 20px;
  margin-top: 1.3em;
  margin-bottom: 0.4em;
  font-weight: 500;
}

main > aside {
  width: 24%;
  padding: 1em;
  background-color: var(--aside-bg);
  /* border-inline: 1px solid rgb(225, 225, 225); */
}

main > aside > h3 {
  font-size: 24px;
  padding-bottom: 0.1em;
  margin-bottom: 0.8em;
  color: var(--website-bg);
  border-bottom: 4px solid var(--website-bg);
}

main > aside > a {
  display: block;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 22px;
  margin-block: 10px;
  color: var(--aside-color);
  text-decoration: underline;
}

main > aside > a:hover {
  cursor: pointer;
  color: var(--link-color);
}

body > footer {
  padding-block: 1em;
  line-height: 1.6em;
  text-align: center;
  position: relative;
  color: var(--website-color);
  background-color: var(--website-bg);
}

body > footer > p > time {
  font-size: 14px;
}

body > footer > dialog {
  display: none;
  position: absolute;
  top: -70px;
  left: 41%;
  padding: 1em;
  border-radius: 10px;
  box-shadow: 1px 1px 3px 1px gray;
  background-color: mintcream;
}

body > footer:hover dialog{
  display: block;
}
