* {
  margin: 0px;
  padding: 0px;
  border: 0px;
}

:root {
  --website-color: #ddd;
  --website-bg: hsl(160, 58%, 20%);
  --nav-border-color: hsla(160, 91%, 39%, 0.813);
  --nav-bg: hsla(157, 53%, 14%, 0.813);
  --article-bg: aliceblue;
  --article-color: #444;
  --aside-color: hsla(160, 83%, 23%, 0.813);
  --aside-bg: hsla(137, 56%, 90%, 0.813);
  /* --section-header-bg: rgb(98, 29, 235); */
  /* --section-bg: rgb(15, 112,  197); */
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--article-bg);
}

body > header {
  padding: 1em 5em;
  background-color: var(--website-bg);
  display: flex;
  justify-content: space-between;
}

hgroup {
  text-align: left;
  margin-left: 4%;
  color: var(--website-color);
}

hgroup > h1 {
  font-size: 50px;
  font-weight: 500;
  letter-spacing: 1px;
}

hgroup > h3 {
  font-size: 22px;
  letter-spacing: 3px;
  padding-bottom: 0.3em;
  padding-left: 0.2em;
  font-weight: 100;
}

nav {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: end;
}

header > nav > ul {
  display: flex;
  justify-content: space-around;
}

header > nav > ul > li {
  font-size: 18px;
  letter-spacing: 0.5px;
  font-weight: 200;
  padding-block: 5px;
  padding-inline: 10px;
  border-bottom: 4px solid transparent;
  border-radius: 2px;
}

header > nav > ul > li:hover {
  border-bottom: 4px solid var(--nav-border-color);
  background: linear-gradient(0deg, var(--nav-bg), transparent);
}

header > nav > ul > li > a {
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  font-weight: 600;
  color: var(--website-color);
}

ul {
  list-style: none;
}

main {
  width: 85%;
  display: flex;
  flex-direction: row;
  background-color: var(--article-bg);
  margin: 0 auto;
}

main > article {
  color: var(--article-color);
  width: 75%;
  padding-block: 2em;
  padding-inline: 1em;
}

main > article > header {
  background-color: var(--section-header-bg);
  padding-bottom: 0.8em;
  border-bottom: 5px solid var(--aside-bg);
}

main > article > header > h2 {
  font-size: 40px;
  padding-bottom: 0.1em;
  font-weight: 500;
}

main > article > header > h5 {
  font-size: 18px;
  font-weight: 500;
}

main > article > section {
  font-size: 20px;
  margin-block: 0.5em;
  line-height: 1.3em;
  background-color: var(--section-bg);
}

main > article > section > h3 {
  font-size: 25px;
  margin-top: 0.8em;
  padding-bottom: 0.2em;
  background-color: var(--section-bg);
}

main > article > section > mark {
  color: var(--article-color);
  background-color: var(--section-bg);
}

main > aside {
  width: 24%;
  padding: 1em;
  background-color: var(--aside-bg);
  /* border-inline: 1px solid rgb(225, 225, 225); */
}

main > aside > h3 {
  font-size: 24px;
  padding-bottom: 0.1em;
  margin-bottom: 0.8em;
  color: var(--website-bg);
  border-bottom: 4px solid var(--website-bg);
}

main > aside > a {
  display: block;
  font-family: serif;
  font-size: 22px;
  margin-block: 10px;
  color: var(--aside-color);
}

main > aside > a:hover {
  text-decoration: underline solid;
}

body > footer {
  color: var(--website-color);
  background-color: var(--website-bg);
}
